## This DS is from kaggle: https://www.kaggle.com/competitions/store-sales-time-series-forecasting

Its made from 7 csv files.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
%matplotlib inline

In [2]:
## for plot with iplot
init_notebook_mode(connected=True)
cf.go_offline()

In [3]:
# import Train Data Set
train=pd.read_csv('train.csv')
# import Test Data Set
test=pd.read_csv('test.csv')

In [4]:
train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [5]:
train.shape

(3000888, 6)

In [6]:
train.nunique()

id             3000888
date              1684
store_nbr           54
family              33
sales           379610
onpromotion        362
dtype: int64

In [ ]:
plt.figure(figsize=(10,6))
plt.plot_date(data=train,x='date',y='sales')

In [ ]:
oil=pd.read_csv('oil.csv')
oil.tail()

In [ ]:
plt.plot(oil['dcoilwtico'])

In [ ]:
stores=pd.read_csv('stores.csv')
stores.head()

In [ ]:
df1=pd.merge(train,stores,on='store_nbr',how='inner')
df1.tail()

In [ ]:
df1.shape

In [ ]:
df1['date'].nunique()

In [ ]:
oil['date'].nunique()

In [ ]:
df2=df1.merge(oil,on='date',how='left')
df2

In [ ]:
df2.info()

In [ ]:
holidays=pd.read_csv('holidays_events.csv')
holidays1=holidays[(holidays['date']>='2013-01-01') & (holidays['date']<='2017-08-15')]
holidays1

In [ ]:
df2['date'].nunique()

In [ ]:
df3=pd.merge(df2,holidays1,on='date',how='left')
df3

In [ ]:
df3['date'].nunique()

In [ ]:
from datetime import datetime
import calendar

def ifpaidday(date):
    fecha_dt = datetime.strptime(date, '%Y-%m-%d')  #convert str to date
    endday=fecha_dt.replace(day = calendar.monthrange(fecha_dt.year, fecha_dt.month)[1]) ##compare if is end of month
    if fecha_dt.day ==15: ##mid paidment
        payday=1
    elif endday==fecha_dt: # Final paidment
        payday=1
    else:
        payday=0 #no paidment
    return payday

In [ ]:
df3['paid_day']=df3['date'].apply(ifpaidday)  #apply func to know if there is a paid day :1 yes, 0 : no

In [ ]:
df3

In [ ]:
HQ=df3.groupby('date').sum()
HQ.reset_index(inplace=True)

In [ ]:
#its posible to see the peak of sale after the earthquake
HQ.iplot(kind='scatter',x='date',y='sales')

In [ ]:
mean2016=HQ[(HQ['date']>'2016-01-01')&(HQ['date']<'2016-12-31')]

In [ ]:
mean2016.describe()

##on this period (from 2016-04-14 to 2016-04-21)earthquake we will normalize sales value with the mean of the year  (8.456426)

In [ ]:
#df3[(df3['date']>'2016-04-13')&(df3['date']<'2016-04-22')]

In [ ]:
#df3['sales'][224532:235223]=845642.6

In [ ]:
#HQ['sales'][112:118]

In [ ]:
#HQ.iplot(kind='scatter',x='date',y='sales')

In [ ]:
df3

In [ ]:
l1=['family']
df4=pd.get_dummies(df3,columns=l1,drop_first=True)

In [ ]:
l2=['type_x']
df5=pd.get_dummies(df4,columns=l2,drop_first=True)

In [ ]:
l3=['city']
df6=pd.get_dummies(df5,columns=l3,drop_first=True)
df6

In [ ]:
l4=['state']
df7=pd.get_dummies(df6,columns=l4,drop_first=True)
df7.head()

In [ ]:
l5=['type_y']
df8=pd.get_dummies(df7,columns=l5,drop_first=True)
df8.head()

In [ ]:
#l6=['locale']
#df9=pd.get_dummies(df8,columns=l6,drop_first=True)
#df9.head()
df9=df8

In [ ]:
#l7=['locale_name']
#df10=pd.get_dummies(df9,columns=l7,drop_first=True)
#df10.head()
df10=df9

In [ ]:
#l8=['description']
#df11=pd.get_dummies(df10,columns=l8,drop_first=True)
#df11.head()
df11=df10.drop('description',axis=1)

In [ ]:
def conv_datey(date):
    fecha_dt = datetime.strptime(date, '%Y-%m-%d') #convert str to date
    ryear=fecha_dt.year
    return ryear 
def conv_datem(date):
    fecha_dt = datetime.strptime(date, '%Y-%m-%d') #convert str to date
    rmonth=fecha_dt.month
    return rmonth
def conv_dated(date):
    fecha_dt = datetime.strptime(date, '%Y-%m-%d') #convert str to date
    rday=fecha_dt.day
    return rday

In [ ]:
df11['year']=df11['date'].apply(conv_datey)
df11['month']=df11['date'].apply(conv_datem)
df11['day']=df11['date'].apply(conv_dated)

In [ ]:
#df11['day'].tail()

In [ ]:

df11.drop(['date','locale'],axis=1,inplace=True)

In [ ]:
#def trans(data):  #convert Data Type
#    if data==True:
#        o=1
#    else: o=0
#    return o

In [ ]:
#df11['transferred']=df11['transferred'].apply(trans)

In [ ]:
df11.info()

In [ ]:
df11['dcoilwtico'].mean()

In [ ]:
nonnan=df11['dcoilwtico'].fillna(68.015) ## fill NaN values
nonnan

In [ ]:
df11['dcoilwtico']=nonnan

In [ ]:
df11_clean=df11.fillna(0)

In [ ]:
##train_clean=df11[(df11['id']>=0) & (df11['id']<=3000887)]
##train_clean


##not used for now

In [ ]:
#test_clean=df11[(df11['id']>=3000888)]
#test_clean

# Test data

In [ ]:
test.info()

In [ ]:
df1_test=pd.merge(test,stores,on='store_nbr',how='inner')
df1_test.tail()

In [ ]:
df2_test=df1_test.merge(oil,on='date',how='left')
df2_test

In [ ]:
df2_test.info()

In [ ]:
holidays2=holidays[(holidays['date']>='2017-08-15')]
holidays2

In [ ]:
holidays2.info()

In [ ]:
df3_test=pd.merge(df2_test,holidays2,on='date',how='left')
df3_test.info()

In [ ]:
l1=['family']
df4_test=pd.get_dummies(df3_test,columns=l1,drop_first=True)

In [ ]:
l2=['type_x']
df5_test=pd.get_dummies(df4_test,columns=l2,drop_first=True)

In [ ]:
l3=['city']
df6_test=pd.get_dummies(df5_test,columns=l3,drop_first=True)
df6_test

In [ ]:
l4=['state']
df7_test=pd.get_dummies(df6_test,columns=l4,drop_first=True)
df7_test.head()

In [ ]:
l5=['type_y']
df8_test=pd.get_dummies(df7_test,columns=l5,drop_first=True)
df8_test.info()

In [ ]:
#l6=['locale']
#df9_test=pd.get_dummies(df8_test,columns=l6,drop_first=True)
#df9_test.info()
df9_test=df8_test

In [ ]:
#l7=['locale_name']
#df10_test=pd.get_dummies(df9_test,columns=l7,drop_first=True)
#df10_test.info()
df10_test=df9_test

In [ ]:
df11_test=df10_test.drop('description',axis=1)

In [ ]:
df11_test['year']=df11_test['date'].apply(conv_datey)
df11_test['month']=df11_test['date'].apply(conv_datem)
df11_test['day']=df11_test['date'].apply(conv_dated)

In [ ]:
df11_test.drop('date',axis=1,inplace=True)

In [ ]:
#df11_test['transferred']=df11_test['transferred'].apply(trans)

In [ ]:
df11_test.info()

In [ ]:
x_test=df11_test.drop(['id','locale','locale_name','transferred'],axis=1)

In [ ]:
x_test_clean=x_test.fillna(0)

## Model Lineal regresion

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
#lm=LinearRegression()

In [ ]:
X=df11.drop(['transferred','sales','id','locale_name','type_y_Bridge','type_y_Event','type_y_Holiday','type_y_Transfer','paid_day','type_y_Work Day'],axis=1)
y=df11['sales']

In [ ]:
#lm.fit(X,y)

In [ ]:
#predict=lm.predict(x_test_clean)

In [ ]:
#predict

# Regression tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
#DTG=DecisionTreeRegressor(random_state = 0)

In [ ]:
#DTG.fit(X, y)

In [ ]:
#predictDTR=DTG.predict(x_test_clean)

# Random forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
RFR = RandomForestRegressor(
            n_estimators = 60,
            criterion    = 'mse',
            max_depth    = None,
            max_features = 'auto',
            oob_score    = False,
            n_jobs       = -1,
            random_state = 123
         )

In [ ]:
RFR.fit(X, y)

In [ ]:
predictRFR= RFR.predict(x_test_clean)

###  GradientBoostingRegressor

In [ ]:
#from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
#GBR = GradientBoostingRegressor(
            n_estimators = 140,
            loss         = 'ls',
            max_features = 'auto',
            random_state = 123
         )

In [ ]:
#GBR.fit(X, y)

In [ ]:
#predictGBR= GBR.predict(x_test_clean)

## Format

In [ ]:
sample_submission=pd.read_csv('sample_submission.csv')

In [ ]:
sample_submission['sales']=predictRFR

In [ ]:
sample_submission

In [ ]:
sample_submission.to_csv('file_nameRFR60_1.csv',index=False)

In [ ]:
sample_submission

In [ ]:
sample_submission

In [ ]:
sample_submission

In [ ]:
sample_submission

In [ ]:
# Correlación entre columnas numéricas
# ==============================================================================

def tidy_corr_matrix(corr_mat):
    '''
    Función para convertir una matrix de correlación de pandas en formato tidy
    '''
    corr_mat = corr_mat.stack().reset_index()
    corr_mat.columns = ['variable_1','variable_2','r']
    corr_mat = corr_mat.loc[corr_mat['variable_1'] != corr_mat['variable_2'], :]
    corr_mat['abs_r'] = np.abs(corr_mat['r'])
    corr_mat = corr_mat.sort_values('abs_r', ascending=False)
    
    return(corr_mat)

df12=df11.drop(['id','locale_name','type_y_Bridge','type_y_Event','type_y_Holiday','type_y_Transfer','paid_day','type_y_Work Day'],axis=1)


corr_matrix = df12.select_dtypes(include=['float64', 'int']).corr(method='pearson')
tidy_corr_matrix(corr_matrix).head(20)

In [ ]:
# Heatmap matriz de correlaciones
# ==============================================================================
fig, ax = plt.subplots(nrows=1, ncols=1, figsize=(10,10))

sns.heatmap(
    corr_matrix,
    annot     = True,
    cbar      = False,
    annot_kws = {"size": 10},
    vmin      = -1,
    vmax      = 1,
    center    = 0,
    cmap      = sns.diverging_palette(20, 220, n=200),
    square    = True,
    ax        = ax
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation = 45,
    horizontalalignment = 'right',
)

ax.tick_params(labelsize = 8)